.signin-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signin-form-container h2 {
    text-align: center;
    color: #3498db; 
}

.signin-form-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.signin-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signin-form-container button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db; 
    color: #fff;
    transition: background-color 0.3s ease;
}

.signin-form-container button:hover {
    background-color: #2980b9; 
}

.signin-form-container p {
    text-align: center;
    margin-top: 16px;
    color: #333;
}

.signin-form-container a {
    color: #3498db; 
    text-decoration: none;
}

.signin-form-container a:hover {
    text-decoration: underline;
}
